.gallery {
  &:not(:last-child) {
    margin-bottom: 4rem;


  }

  &__slider {
    .swiper-slide {
      width: auto;
      box-sizing: border-box;
    }

    .swiper-wrapper {
      gap: 1rem;
    }
  }

  &__row {
    flex: 1 0 auto;
    display: flex;
    min-width: 100%;
    gap: 1rem;

    animation: scroll 30s linear infinite;
  }

  &__img,
  &__video {
    height: 37.6rem;
    width: 27.5rem;

    @include small-tablet {
      width: 22.6rem;
      height: 31rem;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--sec {
    margin-bottom: 20rem;

    @include small-tablet {
      margin-bottom: 7.2rem;
    }

    .gallery {

      &__img,
      &__video {
        width: 36rem;
        height: 44.6rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @include small-tablet {
          width: 22.7rem;
          height: 30.9rem;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}