// ваш код
.header {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  padding: 2.5rem 0;

  @include small-tablet {
    padding: 1rem 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 5rem;
    height: 3.8rem;

    @include small-tablet {
      font-size: 4.3rem;
      height: 3.3rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    @include small-tablet {
      display: none;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2.8rem;
    height: 1.5rem;

    .line {
      width: 100%;
      height: 1px;
      border-radius: 5px;
      background-color: #303030;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      border-radius: 5px;
      background-color: #303030;
    }

    @include small-tablet {
      display: flex;
    }
  }

  &--sec {
    position: static;
    border-bottom: 1px solid #b4b4b4;
  }
}
