.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__link {
    font-weight: 200;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #303030;

    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 10%;
      height: 1px;
      opacity: 0;
      background-color: currentColor;
      transition: .3s ease-out;
    }

    @include hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
