<section class="about-hero">
  <div class="container">
    <div class="about-hero__container">
      <div class="about-hero__left">
        <h1 class="about-hero__title title2">О бренде Petr Levenpol</h1>
      </div>
      <div class="about-hero__desc">
        <p class="desc">
          Петр Левенполь- бьюти-стилист, который имеет 20 летний опыт работы в сфере красоты и стиля, понимая
          потребности клиентов уже более, чем 10 000 тысяч клиентов, всегда стремился находить наилучшие решения для
          каждого из них. Обладая глубокими знаниями в данной сфере он со своей командой, создал инновационную линейку
          профессиональной косметики для волос.
          <br>
          <br>
          Его образование и работа в ведущих брендах мира таких как: L'Oréal, Toni & Guy, Vidal Sassoon, Allilon,
          помогло объединить все знания в уникальном бренде ”Petr Levenpol».
        </p>
      </div>
    </div>
    <div class="about-hero__container about-hero__container--row">
      <div class="about-hero__text">
        <p class="desc">
          Главный принцип нашей работы — это забота о здоровье волос и кожи головы. Мы тщательно подбираем ингредиенты,
          используя только проверенные и натуральные компоненты, которые помогают восстанавливать и защищать волосы от
          негативных воздействий окружающей среды, термических процедур и химических обработок. Наши формулы не содержат
          агрессивных химических компонентов, обеспечивая мягкий и деликатный уход.
        </p>
      </div>
      <div class="about-hero__item">
        <video src="" poster="./img/about-cover.webp"></video>
      </div>
      <div class="about-hero__item">
        <img src="./img/about-cover-2.webp" alt="">
      </div>
      <div class="about-hero__left">
        <p class="desc">
          Продукция бренда «Petr Levenpol» создана для тех, кто ценит баланс между природой и наукой. Мы стремимся
          интегрировать лучшие технологии и инновации в наши продукты, чтобы предложить решения, которые реально
          работают. Каждая формула разработана с учетом многолетнего опыта, научных исследований и обратной связи от
          профессионалов индустрии красоты.
          Мы также привержены принципам экологичности и ответственности. Вся наша продукция безопасна как для волос, так
          и для окружающей среды. Мы придерживаемся стандартов ответственного производства и стремимся минимизировать
          наш экологический след, чтобы каждый клиент мог быть уверен, что их выбор продукции приносит пользу не только
          их волосам, но и природе.
          С нами вы получаете не просто продукт, а философию заботы, комфорта и профессионального ухода за волосами в
          домашних условиях.
        </p>
      </div>
    </div>

  </div>
</section>