<section class="about about-sec">
  <div class="container">
    <div class="about__container about__container--blocks">
      <div class="about__item about-item">
        <div class="about-item__video">
          <video src="" poster="./img/video-poster2.webp"></video>
        </div>
      </div>
      <div class="about__item about-item">
        <div class="about-item__title title3">
          Восстанавливающий шампунь для окрашенных и поврежденных волос, 250 мл.
        </div>
        <div class="about-item__img">
          <img src="./img/item.webp" alt="" />
        </div>
        <p class="about-item__desc desc">
          Шампунь «Petr Levenpol» для окрашенных и поврежденных волос
          восстанавливает и ухаживает без сульфатов, на основе мягких
          растительных ПАВ. Подходит для чувствительной кожи и аллергиков,
          очищает, сохраняя природный блеск и здоровье волос. Шампунь защищает
          от ломкости, можно использовать после процедур ламинирования и
          кератина. Не содержит силиконов, что обеспечивает легкость и чистоту.
          Подходит для ежедневного использования на любых типах волос.
          Разработан П. Левенполем на основе 20-летнего опыта в уходе за
          волосами.
        </p>

        <a href="#" class="btn btn-reset about-item__btn about__btn">
          где купить
        </a>
      </div>
    </div>
    <div class="about__container about__container--blocks">
      <div class="about__item about-item">
        <div class="about-item__title title3">
          Восстанавливающий шампунь для окрашенных и поврежденных волос, 250 мл.
        </div>
        <div class="about-item__img">
          <img src="./img/item.webp" alt="" />
        </div>
        <p class="about-item__desc desc">
          Шампунь «Petr Levenpol» для окрашенных и поврежденных волос
          восстанавливает и ухаживает без сульфатов, на основе мягких
          растительных ПАВ. Подходит для чувствительной кожи и аллергиков,
          очищает, сохраняя природный блеск и здоровье волос. Шампунь защищает
          от ломкости, можно использовать после процедур ламинирования и
          кератина. Не содержит силиконов, что обеспечивает легкость и чистоту.
          Подходит для ежедневного использования на любых типах волос.
          Разработан П. Левенполем на основе 20-летнего опыта в уходе за
          волосами.
        </p>

        <a href="#" class="btn btn-reset about-item__btn about__btn">
          где купить
        </a>
      </div>
      <div class="about-item about__item">
        <div class="about-item__cover">
          <img src="./img/item2.webp" alt="" />
        </div>
      </div>
    </div>
    <div class="about__container about__container--blocks">
      <div class="about-item about__item">
        <div class="about-item__cover">
          <img src="./img/item3.webp" alt="" />
        </div>
      </div>
      <div class="about__item about-item">
        <div class="about-item__title title3">
          Восстанавливающий шампунь для окрашенных и поврежденных волос, 250 мл.
        </div>
        <div class="about-item__img">
          <img src="./img/item.webp" alt="" />
        </div>
        <p class="about-item__desc desc">
          Шампунь «Petr Levenpol» для окрашенных и поврежденных волос
          восстанавливает и ухаживает без сульфатов, на основе мягких
          растительных ПАВ. Подходит для чувствительной кожи и аллергиков,
          очищает, сохраняя природный блеск и здоровье волос. Шампунь защищает
          от ломкости, можно использовать после процедур ламинирования и
          кератина. Не содержит силиконов, что обеспечивает легкость и чистоту.
          Подходит для ежедневного использования на любых типах волос.
          Разработан П. Левенполем на основе 20-летнего опыта в уходе за
          волосами.
        </p>

        <a href="#" class="btn btn-reset about-item__btn about__btn">
          где купить
        </a>
      </div>
    </div>
  </div>
</section>
