<section class="catalog-hero">
  <div class="container">
    <div class="catalog-hero__container">
      <div class="catalog-hero__left">
        <h1 class="title2 catalog-hero__title">Каталог</h1>
        <p class="catalog-hero__desc desc">
          Красивые, ухоженные волосы насыщенного цвета — мечта многих. Однако,
          чтобы сохранить яркость и блеск окрашенных волос, необходимо
          использовать профессиональную линейку средств, которая не только
          закрепит результат окрашивания, но и обеспечит волосам необходимый
          долгий уход.
        </p>
      </div>

      <div class="catalog-hero__right">
        <div class="catalog-hero__img">
          <img src="./img/catalog/01.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="catalog-hero__items">
      <a href="#!" class="catalog-hero__item ch-item">
        <div class="ch-item__img">
          <img src="./img/catalog/02.webp" alt="" />
        </div>
        <div class="ch-item__capture">
          <p class="desc">
            Сыворотка «Восстановление и защита для окрашенных и поврежденных
            волос», 50 мл.
          </p>
        </div>
      </a>
      <a href="#!" class="catalog-hero__item ch-item">
        <div class="ch-item__img">
          <img src="./img/catalog/03.webp" alt="" />
        </div>
        <div class="ch-item__capture">
          <p class="desc">
            Восстанавливающий шампунь для окрашенных и поврежденных волос, 250
            мл.
          </p>
        </div>
      </a>
      <a href="#!" class="catalog-hero__item ch-item ch-item--mask">
        <div class="ch-item__img">
          <img src="./img/catalog/04.webp" alt="" />
        </div>
        <div class="ch-item__capture">
          <p class="desc">
            Маска ”Холодная реконструкция для окрашенных и поврежденных волос»,
            285 мл
          </p>
        </div>
      </a>
      <a href="#!" class="catalog-hero__item ch-item ">
        <div class="ch-item__img">
          <img src="./img/catalog/05.webp" alt="" />
        </div>
        <div class="ch-item__capture">
          <p class="desc">
            Восстанавливающий кондиционер для окрашенных и поврежденных волос,
            250 мл.
          </p>
        </div>
      </a>
      <a href="#!" class="catalog-hero__item ch-item">
        <div class="ch-item__img">
          <img src="./img/catalog/06.webp" alt="" />
        </div>
        <div class="ch-item__capture">
          <p class="desc">
            Крем «Холодная реконструкция для окрашенных и поврежденных волос»,
            100 мл.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>