<section class="gallery">
  <h2 class="visually-hidden">title</h2>

  <div class="gallery__slider swiper">
    <div class="swiper-wrapper">
      <div class="gallery__row">
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/01.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/02.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/03.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/04.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/05.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/06.webp" alt="">
          </div>
        </div>
      </div>
      <div class="gallery__row">

        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/01.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/02.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/03.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/04.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/05.webp" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery__img">
            <img src="./img/slider/06.webp" alt="">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>