<div class="interview" id="interview">
  <div class="container">
    <h2 class="title2 interview__title">ИНТЕРВьЮ о бренде</h2>
    <div class="swiper interview__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="interview__video">
            <video src="" poster="./img/interview.webp"></video>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="interview__video">
            <video src="" poster="./img/interview.webp"></video>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="interview__video">
            <video src="" poster="./img/interview.webp"></video>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="interview__video">
            <video src="" poster="./img/interview.webp"></video>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper interview__thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="interview__thumb">
            <img src="./img/interview.webp">
          </div>
          <div class="interview__capture desc">О Петре</div>
        </div>
        <div class="swiper-slide">
          <div class="interview__thumb">
            <img src="./img/interview.webp">
          </div>
          <div class="interview__capture desc">О планах на будущее</div>
        </div>
        <div class="swiper-slide">
          <div class="interview__thumb">
            <img src="./img/interview.webp">
          </div>
          <div class="interview__capture desc">О продукте</div>
        </div>
        <div class="swiper-slide">
          <div class="interview__thumb">
            <img src="./img/interview.webp">
          </div>
          <div class="interview__capture desc">О философии</div>
        </div>
      </div>
    </div>
  </div>
</div>