<div class="menu">
  <div class="menu__body">
    <div class="menu__content">
      <a href="./" class="menu__logo">
        <img src="./img/logo-name.svg" alt="">
      </a>
      <nav class="menu__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">О бренде</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Каталог</a></li>
          <li class="nav__item"><a href="#" class="nav__link">ИНТЕРВЬЮ</a></li>
        </ul>
      </nav>
    </div>
    <div class="menu__bottom">
      <a href="#" class="menu__soc">
        <img src="./img/insta.svg" alt="">
      </a>
      <a href="#" class="menu__soc">
        <img src="./img/youtube.svg" alt="">
      </a>
      <a href="#" class="menu__soc">
        <img src="./img/tg.svg" alt="">
      </a>
    </div>
  </div>
</div>