<div class="modal">
  <div class="modal__body">
    <div class="modal__close"></div>
    <div class="modal__ph">
      <div class="modal__img">
        <img src="./img/modal/01.webp" alt="" />
      </div>
      <div class="modal__img">
        <img src="./img/modal/02.webp" alt="" />
      </div>
      <div class="modal__img">
        <img src="./img/modal/03.webp" alt="" />
      </div>
    </div>

    <div class="modal__content">
      <div class="modal__title">
        Восстанавливающий шампунь для окрашенных и поврежденных волос, 250 мл.
      </div>
      <div class="modal__info desc modal__text">
        <p class="m-country"><span>Страна производства:</span> Россия</p>
        <p class="m-smell"><span>Аромат:</span> авокадо и ваниль</p>
        <p class="m-desc">
          Шампунь «Petr Levenpol» восстанавливающий для окрашенных и
          поврежденных волос, без сульфатов, на основе мягких аминокислотных ПАВ
          растительного происхождения подходит для чувствительной кожи головы и
          кожи, склонной к аллергиям.
          <br />
          <br />
          Безсульфатная формула бережно очищает кожу головы и волосы, сохраняя
          их природную красоту, здоровье и естественный блеск.
        </p>

        <div class="modal__links">
          <a href="#" class="modal__link hero__link m-sertificate"
            >Сертификат продукта</a
          >
          <a href="#" class="modal__link hero__link m-more">Подробнее</a>
        </div>
      </div>

      <div class="modal__buy">Где купить?</div>

      <div class="modal__where">
        <a href="#" class="modal__item modal__item--apple modal-item">
          <span class="modal-item__left">
            <span class="modal-item__icon">
              <img src="./img/yab.webp" alt="" />
            </span>
            <span class="modal-item__name">Золотое яблоко</span>
          </span>
          <span class="modal-item__cart">
            <img src="./img/cart.webp" alt="" />
          </span>
        </a>
        <a href="#" class="modal__item modal__item--wb modal-item">
          <span class="modal-item__left">
            <span class="modal-item__icon">
              <img src="./img/wb.webp" alt="" />
            </span>
            <span class="modal-item__name">Wildberries</span>
          </span>
          <span class="modal-item__cart">
            <img src="./img/cart.webp" alt="" />
          </span>
        </a>
        <a href="#" class="modal__item modal__item--ozon modal-item">
          <span class="modal-item__left">
            <span class="modal-item__icon">
              <img src="./img/ozon.webp" alt="" />
            </span>
            <span class="modal-item__name">Ozon</span>
          </span>
          <span class="modal-item__cart">
            <img src="./img/cart.webp" alt="" />
          </span>
        </a>
      </div>
      <p class="modal__text desc">
        Условия доставки и возврата соответствуют условиям сайта, через который
        вы оформляете заказ
      </p>
    </div>
  </div>
</div>
